body {
    padding: 5px 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    border: 2px solid black;
    margin: 5px;
}

#logo img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    max-width: 800px;
}

div.navi {
    position: sticky;
    top: 0;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    min-width: 150px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: rgb(147, 0, 0);
}

.cont {
    padding: 20px;
}

.cont .menu {
    display: inline-block;
    width: 31.5%;
    text-align: center;
}

.cont a {
    margin-left: auto;
    margin-right: auto
}

.imageBtn:hover {
    filter: opacity(.5);
}

.imageBtn {
    transition-duration: .5s;
    display: inline;
    /*width: 100%;*/
    max-width: 180px;
}

.buttons {
    min-height: 50px;
    padding: 10px;
}

button {
    background-color: white; /* Green */
    border: 2px solid;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 5px 5px black;
    margin: 0px 5px;
}

button:hover {
    background-color: rgb(147, 0, 0);
    color: white;
}

.toL {
    float: left;
}

.toR {
    float: right;
}

.grid {
    padding: 10px;
    height: 500px;
    overflow-y: scroll;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
    
}

th {
    border: 1px solid black;
    padding: 10px;
}

.par:hover, .impar:hover {
    background: black;
    cursor: pointer;
    color: white;
}

tr.impar {
    background-color: #ff4d4d;
    color: white;
}

td {
    border: 1px solid black;
    padding: 10px;
}

.TtoR {
    text-align: right;
}

.TtoC {
    text-align: center;
}

.modal{
    background-color: rgba(114, 114, 114, 0.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
    color: black;
  }

#miModal:target{
    opacity:1;
    pointer-events:auto;
}

.ticket {
    padding: 10px;
    background-color: white;
    position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
    right: 0;
    width: 30%;
    height: 80%;
    margin: auto;
}

.ticket div div {
    display: inline-block;
}

.closeB {
    text-align: right;
    float: right;
}

.inputs {
    display: inline-block;
    width: 40%;
    text-align: right;
    padding: 10px 50px;
    line-height: 250%;
    color: rgb(147, 0, 0);
    font-weight: bold;
    word-spacing: 10px;
}

input, select {
    padding: 5px;
    font-size: medium;
    min-width: 200px;
}
